html, body, #root {
  padding: 0;
  height: 100%;
  font-family: 'Zen Kaku Gothic Antique', sans-serif;
  background-color: lightgrey;
}

#root {
  display: flex;
  flex-direction: column;
}

.header {
  height: auto;
  padding: 22px 32px;
}

.header a {
  font-size: 42px;
  text-decoration: none;
  color: black
}

.app {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-height: calc(100% - 93px);
  height: 100%;
  width:100%;
}

.main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  max-height: calc(100% - 46px);
  width: 100%;
}

.menu {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  border-radius: 2px 2px 0px 0px;
  background-color: white;
  height: 70%;
  width: 60%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
}

.all-done {
  height: 100%;
  display: flex;
  align-items: center;
}

.todo {
  width: 100%;
  min-height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 0px;
  border-bottom: 1px solid #ddd;
}

.todo button, .todo input {
  min-width: 28px;
  height: 100%;
  padding: 4px;
  margin-left: 8px;
}

.todo button {
  margin: 0px 8px 0px 0px;
  padding: 5px 0px;
  border-radius: 2px;
  border: 1px solid grey;
  width: 100%;
  height: 100%;
}

.todo button:hover {
  background-color: lightgrey;
  transition-duration: .1s;
}

.todo span:hover {
  background-color: lightgrey;
  transition-duration: .1s;
}

.todo.checked span:hover {
  background-color: #bbbbbb;
  transition-duration: .1s;
}

.todo span, .todo input[type=text]  {
  min-height: 21px;
  max-height: 10px;
  min-width: 200px;
  max-width: 80%;
  border-radius: 1px;
  text-align: center
}

.todo.checked {
  background-color: lightgrey;
}

.todo.checked span {
  text-decoration:line-through;
}

.todo .buttons {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  max-width: 300px;
  background-color: grey;
  color: grey;
  height: 100%;
  border-left: 2px solid black
}

.manage button {
  font-size: 18px;
  border-radius: 2px;
  border: 0;
  padding: 12px;
}

.manage button:hover {
  background-color: darkgrey;
  transition-duration: .1s;
}

.progressbar {
  width: calc(60% + 4px);
  margin-bottom: 5%;
  height: 4px;
  background-color: black;
  border-radius: 0px 0px 2px 2px;
}

.progress {
  width: 0%;
  background-color: green;
  height: 4px;
  transition-duration: .4s;
  border-radius: 0px 0px 2px 2px;
}

.credits {
  padding-bottom: 28px;
}
