html, body, #root {
  padding: 0;
  height: 100%;
}

#root {
  display: flex;
  flex-direction: column;
}

.header {
  height:auto
}

.header a {
  font-size: 42px;
  padding: 22px;
  text-decoration: none;
  color: black
}

.app {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%;
}

.menu {
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
  height: 50%;
  width: 60%;
}

.list {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}

.all-done {
  height: 100%;
  display: flex;
  align-items: center;
}

.todo {
  width: 100%;
  min-height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.todo button, .todo input {
  min-width: 28px;
  height: 100%;
  padding: 4px;
}

.todo span:hover {
  background-color: lightgrey;
  transition-duration: .1s;
}

.todo.checked span:hover {
  background-color: #bbbbbb;
  transition-duration: .1s;
}

.todo span, .todo input[type=text]  {
  min-height: 21px;
  min-width: 200px;
  max-width: 80%;
  text-align: center
}

.todo.checked {
  background-color: lightgrey;
}

.todo.checked span {
  text-decoration:line-through;
}

.todo .buttons {
  display:flex;
  flex-direction: row;
  justify-content:space-between;
  align-items: center;
}

.manage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  width: 40%;
  max-width: 300px;
  background-color: grey;
  color: grey;
  height: 100%;
  border-left: 2px solid black
}

.progressbar {
  width: calc(60% + 4px);
  margin-bottom: 10%;
  height: 4px;
  background-color: black;
}

.progress {
  width: 0%;
  background-color: green;
  height: 4px;
  transition-duration: .4s;
}
